*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #7cdaf9;
    width: 100%;
    height: 15%;
    padding: 20px;
}
.logo-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.logo {
    max-width: 200px;
    padding-left: 55px;
    padding-top: 20px;
}
.menu {
    height: 100%;
    width: 60%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.menu a {
    color: black;
    margin-right: 10px;
    padding-right: 55px;
    font-size: 19px;
    font-weight: 500;
}

.menu a.ative {
    color: white;
    text-decoration:underline;
}

.menu button {
    color: black;
    margin-right: 10px;
    text-decoration: none;
    padding-right: 55px;
    font-size: 17px;
    font-family: arial;
    background-color: #7cdaf9;
}
.menu button.ative {
    color: white;
    text-decoration:underline;
}
.menu button:hover{
   color: white;
}
label{
    display: none;
}
.container2{
    display: flex;
    flex-direction: row;
    height: 75%;
    width: 100%;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 75vh;
    gap: 10px;
    background-color: black;
}
.usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 190px;
    margin-top: -50px;
}
.usuario img{
    width: 100px;
    height: 110px;
    padding-top: 10px;
}
.informacoes{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}
#principal{
    display: flex;
    flex-direction: row;
    font-family: arial;
    font-size: 15px;
    color: white;
    padding-top: 10px;
}
#secundario{
    font-family: arial; 
    font-size: 12px;
    margin-left: 30px;
    color: rgb(140, 140, 255);
}

section{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75vh;
    background-color: white;
}
.informs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: arial;
    font-size: 15px;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
}
#seguidores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    margin-left: 10px;
    
}
#seguindo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    margin-left: 10px;
    
}
#republicados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    margin-left: 10px;
}
#publicacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    margin-left: 10px;
}
.publicacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 390px;
}
.publicacoes-box2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}
#perfil{
    display: flex;
    flex-direction: row;
    font-family: arial;
    font-size: 15px;
    padding: 10px;
}
#publicacao1{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(218, 215, 215);
}
#publicacao2{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(218, 215, 215);
}
#publicacao3{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(218, 215, 215);
}
 p{
    width: 250px;
    font-family: arial;
    font-size: 15px;
    margin-left: 30px;
}
.funcoes{
    display: flex;
    justify-content: center;
    margin-top: 95px;
    margin-left: 70px;
}
button{
    background-color: rgb(218, 215, 215);
}
.funcoes img{
    width: 15px;
    height: 15px;
    margin: 10px;
}
footer {
    display: flex;
    background-color: #7cdaf9;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: black;
    position:fixed;
    bottom: 0px;
    width:100%;
    height: 10%;
    font-family: arial;
    font-size: 10px;
    border-top: 1px solid black;
}

@media screen and (max-width: 992px) {
    
    header{
        position: fixed;
        border-bottom: 1px solid black;
    }
    .menu button{
        font-size: 14px;
        padding-right: 30px;
    }
    aside{
        position: fixed;
        top: 95px;
    }
    section{
        height: 90vh;
        width: 75%;
        margin-left: 235px;
        justify-content: end;
    }
    .informs{
        height: 10%;
    }
    .publicacoes-box2{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        width: 100%;
    }
    #publicacao1{
        width: 255px;
    }
    #publicacao2{
        width: 255px;
    }
    #publicacao3{
        width: 255px;
    }
    p{
        margin-left: 20px;
    }
    footer{
        position: fixed;
    }
    
}
@media screen and (max-width: 600px) {
    header{
        height: 10%;
    }
    .logo{
        width: 160px;
        height: 150px;
        margin-left: -70px;
    }
    .menu{
        display: flex;
    }
    .menu button{
        font-size: 15px;
        padding-right: 5px;
    }
    label{
        display: flex;
        right: 100px;
        color: white;
    }
    .container2{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    aside{
        display: flex;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 20%;
        margin-top: 60px;
    }
    section{
        width: 100%;
        height: 100vh;
        justify-content: start;
        margin-left: 0px;
    }
    .usuario{
        width: 120px;
        height: 130px;
        margin-top: 25px;
        margin-left: -100px;
    }
    .usuario img{
        width: 80px;
        height: 80px;
    }
    .informacoes{
        height: 130px;
        margin-top: 40px;
        font-size: 10px;
    }
    .informs{
        height: 55px;
        margin-left: -10px;
    }
    #principal{
        font-size: 13px;
        padding-top: 5px;
    }
    .publicacoes{
        margin-top: 170px;
    }
    .publicacoes-box2{
        height: 700px;
    }
    #publicacao1{
        width: 370px;
        height: 200px;
        margin-bottom: -5px;
    }
    #publicacao2{
        width: 370px;
        height: 200px;
        margin-bottom: -5px;
    }
    #publicacao3{
        width: 370px;
        height: 200px;
    }
    .funcoes{
        margin-top: 40px;
    }
    footer{
        position: fixed;
        height: 8%;
    }
}