* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Times New Roman', Times, serif;
}
body {
    height: 100vh;
    width: 100%

}

.conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

 /*  HEADER  15% HEIGTH */
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    background-color: #7cdaf9;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid #64cbee;  
}
.header_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    width: 50%;
    height: 100%;
}
.img_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-right: 5%;
    
}
.img_header img {
    width: 180px;
    height: 180px;
}
.text_header h2{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 5px;
}
.text_header h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 2px;
}

/* - menu media (tablet) */
.header_menu {
    height: 100%;
    width: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}
.header_menu a {
    color: black;
    font-size:18px;
    margin-right: 5px;
    text-decoration: none;
    padding-right: 25px;
  }
  
.header_menu a.ative {
    color: white;
    text-decoration:underline;
  }
/* menu media hide (telefone) */

.header_menu_hide {
    height: 100%;
    width: 50%;
    display: none;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2%
}

.menu_hide {
    flex: 1 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
    
    
}
.menu_hide li {
    display: flex;
    margin-right: 10px;
    flex-basis: 100px;
    background-color: #7cdaf9;
    border: 1px solid white;
    margin: 5px;
    padding: 5px 10px; /** **/
}
.menu_hide li a {
    color: white;
    text-align: center;
    font-size: 16px;
    flex: 1 1;
}
.menu_hide li:hover {
    background-color: white;
}
.menu_hide li a:hover {
    color: #64cbee;

}

#botao {
    display: none;
}
label {
    display: block;
    margin-right: 15px;
    font-size: 60px;
    color: white;
}

label:hover {
    color: rgb(240, 240, 240);

}
#botao:checked ~.menu_hide { /** quando o irmao de botao qie é menu for checado/ clicado o menude baixo aparece! **/
    background-color:#7cdaf9;
    display: block;
    position: absolute;
    top: 85px;
    right: 0px;
    width: 200px;
}
/* SECTION */
 
section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
    background-color: beige;
}

/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #7cdaf9;
    background-color: black;
    border-right: 2px solid rgb(199, 199, 199);
}

#user img {
    width: 100px;
    height: 100px;
    border-radius: 70px;
}
#user h4 {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    font-size: larger;
    color: white;
}

#menu_aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

#menu_aside ul li a{
    font-size: 18px;
    font-weight: 500;
    color: rgb(94, 93, 93);
    color: white;
    font-weight: bold;
    text-decoration: none;

}
#menu_aside ul li a:hover {
    font-size: 20px;

}
.menu_hide li a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    flex: 1 1;
}
.menu_hide a.ative {
    color: #0979b0;
}
#menu_aside ul li #menu_selected {
    color: #64cbee;
    font-weight: bolder;
    
}
#user-logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    background-color: white;
    border-radius: 10px;

}
#user-logout img {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    background-color: white;
}
#user-logout button {
    width: 70px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border: none;   
}

#user-logout button:hover{
    padding-left: 10px;
    
}

/* CONTEUDO  80% HEIGHT */
.conteudo {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*  BOXES  */
.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(219, 218, 218);
    align-items: center;
    justify-content: center;
    padding-top: 2px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 250px;
    background-color:white;
    padding: 10px;
    border-radius: 30px;
}

.b1 {
    background-color: white;
}

#text-dashboard h3 {
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
    
.box-infos {
    display: flex;
    flex-direction: row ;
    gap: 10%;
    padding-top: 30px;
    justify-content: center;

}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.info h5 {
    font-size: 20px;
    font-weight: 800;
    color: gray;
    text-decoration: underline;

}

.info p {
    font-size: 22px;
    font-weight: 500;
    
}

.b2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7cdaf9;
    
}

.b2_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 520px;
    height: 70px;
    
}
.b2_content img {
    width: 60px;
    height: 60px;
    padding: 1px;
}

.b2_content h5 {
    font-size: 30px;
}
.b2_content p {
    font-size: 40px;
    color: black;
    font-weight: bold;
    padding-left: 4px;
    

}
.box, .b3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_grafico {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.text_grafico h3 {
    font-size: 30px;
    font-weight: 600;
    

}

.text_grafico button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    width: 170px;
    height: 40px;
    border-radius: 40px;
}
.img_grafico{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_grafico img{
    padding: 1px;
    width: 500px;
    height: 200px;

}

.b4 {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right,#7cdaf9 30%, white 60%);

}

.b4_text {
    width: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.b4_text h3{
    align-items: center;
    font-size: 28px;

}

.b4_text div {
    width: 300px;
    font-size: 24px;
    padding: 2px;
    
}

.b4_imgs {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}
.b4_imgs img {
    width: 85px;
    height: 85px;
}

#img_graf_right {
    margin-left: 60%;
}

/*  FOOTER 10% HEIGHT*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: #7cdaf9;
}

footer p {
    color: white;
    font-size: 11px;

}



/*   MEDIA   */



@media (max-width: 1700px) {

    .box {
        width: 550px;
    }
}



@media (max-width: 1500px) {


    .header_menu {
        display: flex;

    }

    aside {
        display: none;
    }

    .conteudo {
        width: 100%;
    } 

}

@media (max-width: 1160px) {


    section {
        height: auto;
    }
    .box {
        width: 80%;
    }

    .header_menu {
        display: none;
    }
    .header_menu_hide {
    display: flex;
    }

    footer p{
        font-size: 15px;
    }

    .text_header h2{
        font-size: 40px;
    
    }

    .text_header h3{
    font-size: 30px;

    }
    .img_header img {
        width: 150px;
        height: 150px;
        }
}

@media (max-width: 700px) {

    .box {
    width: 85%;
    border-radius: 10px;
    }
    .header_content {
    padding-left:0 ;
    }
    .img_header img {
    width: 100px;
    height: 100px;
    }

    .text_header h2{
    font-size: 30px;

    }

    .text_header h3{
    font-size: 20px;

    }

    .text-dashboard h3 {
        font-size: 16px;
    }
    .info h5 {
        font-size: 16px;
    }
    .info p {
        font-size: 18px;
    }
    .b2_content {
        align-items: center;

        width: 320px;
        height: 70px;
    }
    .b2_content img {
        width: 40px;
        height: 40px;
        padding: 1px;
    }

    .b2_content h5 {
        font-size: 20px;
    }
    .b2_content p {
        font-size: 16px;
    }

    .img_grafico img {
        width: 350px;
        height: 180px;
    }

        
    .b4_text h3{
        font-size: 22px;

    }

    .b4_text div {
        width: 200px;
        font-size: 20px;
        padding: 2px;
        
    }

    .b4_imgs {
        width: 15%;
    }
    .b4_imgs img {
        width: 75px;
        height: 75px;
    }
    .menu_hide li a {
        font-size: 15px;
        font-weight: bold;
        flex: 1 1;
    }
    
}