*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
   background-color: white;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
aside{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 45%;
    background-color: rgb(219, 215, 215);
}
aside img{
    height: 100%;
    width: 350px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width:55%;
}
.form{
    padding: 6px;
    height: 450px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(226, 223, 223);
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 40px;
    margin-top: 40px;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 #7cdaf9;
}
.login button{
    cursor: pointer;
    position: relative;
    border: none;
    background: transparent;
    padding: 20px;
}
.btcolor{
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: #7cdaf9;
    border-radius: 30px;
}

#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: Arial;
    font-size: 15px;
    width: 300px;
    height: 200px;
    margin-top: 80px;
    margin-bottom: 150px;
}

input{
    padding: 10px;
    background-color: #7cdaf9;
    color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    outline: none;
}
input::placeholder{
    color: white;
}
input[type="button"]{
    background-color: rgb(25, 40, 90);
    cursor: pointer;
    margin-top: 15px;
}
#entrar:hover{
    background-color: #7cdaf9;
}
.lembrar{
    display: flex;
    position: relative;
    bottom: 150px;
    right: 98px;
    font-family: arial;
    font-size: 12px;
}
.conectar-login{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    width: 300px;
    height: 60px;
    bottom: 100px;
}
.conectar-login a{
    display: flex;
    width: 15px;
    height: 20px;
    margin: 15px;
    padding-top: 3px;
}
.conectar-login img{
    border-radius: 10px;
}
.conectar-login div{
    display: flex;
    flex-direction: row;
}
#cadastro{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: Arial;
    font-size: 15px;
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 150px;
}
#nome{
    display: flex;
    flex-direction: row;
}
#nome input{
    padding: 10px;
    background-color: #7cdaf9;
    color: white;
    width: 123px;
    margin-bottom: 10px;
    border-radius: 4px;
    outline: none;
}
#sobrenomeId{
    margin-left: 13px;
}
.concordo{
    display: none;
    position: relative;
    bottom: 130px;
    right: 35px;
    font-family: arial;
    font-size: 12px;
}
.conectar-cadastro{
    display: none;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    width: 300px;
    height: 60px;
    bottom: 120px;
}
.conectar-cadastro a{
    display: flex;
    width: 15px;
    height: 20px;
    margin: 15px;
    padding-top: 3px;
}
.conectar-cadastro img{
    border-radius: 10px;
}
.conectar-cadastro div{
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 1100px){
    body{
        width: 100%;
        height: 100vh;
    }
    .form{
        width: 40%;
    }
    .login{
        width: 50%;
    }
    .btcolor{
        width: 115px;
        left: 0px;
    }
}
@media screen and (max-width: 1000px){
    .login{
        width: 50%;
    }
    .btcolor{
        width: 90px;
    }
    #login{
        width: 250px;
    }
    .lembrar{
        right: 75px;
    }
}
@media screen and (max-width: 500px){
    body{
        width: 100%;
        height: 100vh;
        background-color: rgb(226, 223, 223);
    }
    aside{
        width: 0px;
        height: 0px;
    }
    aside img{
        width: 0px;
        height: 0px;
    }
    section{
        width: 100%;
        height: 100vh;
        align-items: center;
    }
    .form{
        width: 80%;
        border: 1px solid black;
    }
    .login{
        width: 50%;
    }
    .btcolor{
        width: 105px;
    }
    #login{
        width: 300px;
    }
    #cadastro{
        width: 300px;
    }
    #nome input{
        width: 123px;
    }
    .lembrar{
        right: 100px;
    }
    .concordo{
        right: 35px;
    }
}
